<div class="page"></div>
<div class="center">
  <div class="container-rows">
    <img 
    class="logo"
    src="https://cdn.dribbble.com/users/3972859/screenshots/7895507/media/ee7f1aeff3a613363e7ae3c076cfa214.jpg">

    <div>
      <mat-form-field>
        <mat-label>User name</mat-label>
        <input matInput type="text" [(ngModel)]="userName">
      </mat-form-field>
    </div>

    <button mat-button [disabled]="!userName?.length" (click)="this.clickedPlayButton()">Play</button>
  </div>
</div>