<div class="page">
  <div class="container margin-top-container">
    <div class="row">
      <div class="col-3">
        <div class="container-rows">
          <div class="container">
            <div class="row">
              <div class="col">Player:</div>
              <div class="col">{{this.userName}}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6"></div> <!--we can of course add offset class to the next column, however for some unknown reason there is a problem with responsive-->

      <div class="col-3">
        <div class="container-rows">
          <div *ngFor="let r of rewards; let i = index">
            <div *ngIf="i == (12-question_no); else notSelectedReward" id="selected_reward">{{r}}</div>
            <ng-template #notSelectedReward>{{r}}</ng-template>
          </div>
        </div>
      </div>
    </div>

    <div class="row bottom">
      <div class="col-8 offset-2">
        <div id="question_text" class="container-rows">
          {{this.actualQuestion.question}}
        </div>
      </div>
    </div>

    <div class="row bottom">
      <div class="col-8 offset-2">
        <div class="container-rows">
          <mat-grid-list cols="2" rowHeight="100px">
            <mat-grid-tile
                *ngFor="let answer of shuffledAnswers"
                [colspan]=1
                [rowspan]=1
                [style.background]="answer.color">
              <div class="map-area" (click)="onSelectAnswer(answer.text)">
                {{answer.text}}
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </div> 
      </div>
    </div>
  </div>
</div>